{% extends "base.html" %}
{% block title %}My Files{% endblock %}

{% block content %}
<br />
<h1 align="center">Hey {{ current_user.first_name }}! Here are your files:</h1>
<ul class="list-group list-group-flush" id="files">
    {% for file in current_user.files %}
    <li class="list-group-item">
        <a href="{{ url_for('views.download_page', unique_id=file.unique_id) }}">{{ file.name }}</a>
    </li>
   {% else %}
        <li class="list-group-item">No files found.</li>
    {% endfor %}
</ul>
{% endblock %}
