{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="filebox">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <p class="bbase-text-style boxtext-header">Straightfoward, simple, fast. <br /></p>
        <p class="base-text-style custom-dark">Upload as many files as you like up to 2 GB and get a link to share.</p>
        <br />
        <input type="file" name="file">
        <br />
        <button type="submit" class="btn btn-primary btn-dark">Submit</button>
    </form>
</div>
{% endblock %}