.base-text-style {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; /* Unique font size */
}


.boxtext-header {
    color: darkred !important; /* Unique color, override if necessary */
    font-size: 30px !important; /* Unique font size */
}



.filebox {
    border: 2px solid #000;
    background-color: whitesmoke;
    border-color: gainsboro;
    padding: 20px;
    margin: 100px auto;
    width: 40%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .filebox form input[type="file"] {
      margin-bottom: 20px;
  }

html {
  height: 100%;
}

body {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}





.gradient-custom-3 {
background: #84fab0;

background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
background: #84fab0;

background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
